{
    // babel 的 react 编译器
    "presets": [ "@babel/preset-env", "@babel/preset-react" ],
    "plugins": [ 
        "@babel/transform-runtime", // 避免babel重复引入
        "@babel/plugin-syntax-dynamic-import",
        "react-hot-loader/babel", // react 热重载
        "@babel/plugin-proposal-class-properties" // 类语法支持
    ]
}
